[Unit]
Description=Service that runs the neccesary-verbs.sh script at boot to fix audio issues
After=sound.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/necessary-verbs-service-version.sh
RemainAfterExit=yes
User=root
TimeoutSec=0

[Install]
WantedBy=multi-user.target
